# .NET Core
bin/
obj/
TestResults/
logs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ====== ASP.NET Core Secrets ======
appsettings.Development.json
appsettings.Production.json
appsettings.Local.json
appsettings.*.json
!appsettings.json
Properties/launchSettings.json

# User secrets
secrets.json
*.secrets.json

# Environment Variables
.env
.env.*

# React / Node.js
chat-web-client/node_modules/
chat-web-client/dist/
chat-web-client/dist-ssr/
chat-web-client/.env.local
chat-web-client/.env.*.local

# Visual Studio
.vs/
.vscode/

# Mac / Windows temp files
.DS_Store
Thumbs.db
